<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指用户自定义的命名空间 -->
<mapper namespace="com.t31.app.dao.backend.VersionDao">

    <select id="selById" resultType="com.t31.app.entity.AppVersionDTO">
        SELECT id,appId,versionNo,versionInfo,versionSize,downloadLink
        FROM
          app_version
        where id=#{id}
    </select>
</mapper>