<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指用户自定义的命名空间 -->
<mapper namespace="com.t31.app.dao.backend.BackAppCategoryDao">
    <select id="sel" resultType="com.t31.app.entity.AppCategoryDTO">
        SELECT
          id,categoryCode,categoryName,parentId
        FROM
          app_category
        <where>
           <!-- <if test="parentId==null and parentId=='' ">
                and  parentId=null,
            </if>-->
            <choose>
                <when test="parentId !=0 ">
                    parentId=#{parentId}
                </when>
                <when test="parentId==0">
                    parentId is null
                </when>
            </choose>
        </where>
    </select>
</mapper>