<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指用户自定义的命名空间 -->
<mapper namespace="com.t31.app.dao.developer.DataDictionaryDAO">
        <select id="selectDictionaryList" resultType="com.t31.app.entity.DataDictionaryDTO" parameterType="string">
            SELECT
                valueName,valueId
            FROM
                data_dictionary
            WHERE
                typeCode=#{dictionaryCode}
        </select>

    <select id="selByCodeAndTypeName" parameterType="string" resultType="int">
        SELECT valueId FROM data_dictionary where typeCode='APP_STATUS' and valueName=#{param1}
    </select>
</mapper>