<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指用户自定义的命名空间 -->
<mapper namespace="com.t31.app.dao.developer.DevAppVersionDAO">
        <select id="selectVersionByAppId" parameterType="int" resultType="com.t31.app.entity.devinfo.AppVersionInfo">
              SELECT
                        T1.id,
                        T2.softwareName AS appName,
                        T1.versionNo,
                        T1.versionSize,
                        T3.valueName AS publishStatusName,
                        T1.downloadLink,
                        T1.modifyDate,
                        T1.creationDate,
                        T1.apkFileName
                FROM
                        app_version AS T1
                LEFT JOIN app_info AS T2 ON  T1.appId=T2.id
                LEFT JOIN data_dictionary AS T3 ON T3.typeCode='PUBLISH_STATUS' AND T1.publishStatus=T3.valueId
                WHERE
                        T1.appId=#{appId}
        </select>
    
        <select id="selByAppId" resultType="int" parameterType="int">
            SELECT COUNT(1) FROM app_version where appId=#{param1}
        </select>
        <delete id="delVersionByAppId" parameterType="int">
            DELETE FROM app_version where appId=#{param1}
        </delete>

    <insert id="addAppVersion" parameterType="com.t31.app.entity.AppVersionDTO">
            INSERT INTO
                app_version(
                  id,
                  appId,
                  versionNo,
                  versionInfo,
                  publishStatus,
                  downloadLink,
                  versionSize,
                  createdBy,
                  creationDate,
                  apkLocPath,
                  apkFileName)
          VALUES (DEFAULT ,
                #{appId},
                #{versionNo},
                #{versionInfo},
                #{publishStatus},
                #{downloadLink},
                #{versionSize},
                #{createdBy},
                NOW(),
                #{apkLocPath},
                #{apkFileName}
                )
        </insert>
        <select id="selectVersionById" parameterType="int" resultType="com.t31.app.entity.AppVersionDTO">
              SELECT
                  versionNo,
                  versionSize,
                  versionInfo
              FROM
                  app_version
              WHERE
                  id=#{id}
        </select>
        <select id="selectNewVersionByAppId" parameterType="int" resultType="int">
                SELECT
                    id
                FROM
                    app_version
                WHERE
                    appId=#{appId}
                ORDER BY creationDate DESC
                LIMIT 0,1
        </select>
        <update id="updateVersion" parameterType="com.t31.app.entity.AppVersionDTO">
            UPDATE
                app_version
            <set>
                <if test="versionInfo!=null and versionInfo!=''">
                    versionInfo = #{versionInfo},
                </if>
                <if test="publishStatus>0">
                    publishStatus=#{publishStatus},
                </if>
                <if test="downloadLink!=null and downloadLink!=''">
                    downloadLink = #{downloadLink},
                </if>
                <if test="versionSize>0">
                    versionSize=#{versionSize},
                </if>
                <if test="modifyBy>0">
                    modifyBy = #{modifyBy},
                </if>
                <if test="modifyDate!=null and modifyDate!=''">
                    modifyDate = #{modifyDate},
                </if>
                <if test="apkLocPath!=null and apkLocPath!=''">
                    apkLocPath = #{apkLocPath},
                </if>
                <if test="apkFileName!=null and apkFileName!=''">
                    apkFileName = #{apkFileName},
                </if>
            </set>
            WHERE id=#{id}
        </update>


</mapper>