<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指用户自定义的命名空间 -->
<mapper namespace="com.t31.app.dao.developer.DevCategoryDAO">
        <!--查询一级菜单-->
        <select id="selectCategoryLevel" resultType="com.t31.app.entity.AppCategoryDTO" >
            SELECT
                id,categoryName
            FROM
                app_category
            <where>
                <choose>
                    <when test="parendId>0">
                       AND parentId = #{parendId}
                    </when>
                    <when test="parendId==0">
                       AND parentId IS NULL
                    </when>
                </choose>
            </where>

        </select>

</mapper>