<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指用户自定义的命名空间 -->
<mapper namespace="com.t31.app.dao.developer.DevAppInfoDAO">
        <select id="selectAppInfo" resultType="com.t31.app.entity.devinfo.AppInfoList">
            select
                T1.id,
                T1.softwareName,
                T1.APKName,
                T1.softwareSize,
                (SELECT valueName FROM data_dictionary WHERE typeCode = 'APP_FLATFORM' AND valueId=T1.flatformId) AS flatformName,
                (SELECT categoryName FROM app_category WHERE app_category.id=T1.categoryLevel1) AS categoryLevel1Name,
                (SELECT categoryName FROM app_category WHERE app_category.id=T1.categoryLevel2) AS categoryLevel2Name,
                (SELECT categoryName FROM app_category WHERE app_category.id=T1.categoryLevel3) AS categoryLevel3Name,
                (SELECT valueName FROM data_dictionary WHERE typeCode = 'APP_STATUS' AND valueId=T1.status) AS statusName,
                T1.downloads,
                (SELECT versionNo FROM app_version WHERE app_version.id=T1.versionId) AS versionNo,
                T1.status,
                T1.versionId
            from
              app_info AS T1
            <where>
                <if test="appinfo.softwareName!=null and appinfo.softwareName!=''">
                    AND softwareName LIKE CONCAT('%',#{appinfo.softwareName},'%')
                </if>
                <if test="appinfo.status>0">
                    AND status =#{appinfo.status}
                </if>
                <if test="appinfo.flatformId>0">
                    AND flatformId =#{appinfo.flatformId}
                </if>
                <if test="appinfo.categoryLevel1>0">
                    AND categoryLevel1 =#{appinfo.categoryLevel1}
                </if>
                <if test="appinfo.categoryLevel2>0">
                    AND categoryLevel2 =#{appinfo.categoryLevel2}
                </if>
                <if test="appinfo.categoryLevel3>0">
                    AND categoryLevel3 =#{appinfo.categoryLevel3}
                </if>
            </where>
            limit #{start},#{size}
        </select>

    <select id="selectAppCount" resultType="int" parameterType="com.t31.app.entity.AppInfoDTO">
            select
                COUNT(1)
            from
              app_info
            <where>
                <if test="softwareName!=null and softwareName!=''">
                    AND softwareName LIKE CONCAT('%',#{softwareName},'%')
                </if>
                <if test="status>0">
                    AND status =#{status}
                </if>
                <if test="flatformId>0">
                    AND flatformId =#{flatformId}
                </if>
                <if test="categoryLevel1>0">
                    AND categoryLevel1 =#{categoryLevel1}
                </if>
                <if test="categoryLevel2>0">
                    AND categoryLevel2 =#{categoryLevel2}
                </if>
                <if test="categoryLevel3>0">
                    AND categoryLevel3 =#{categoryLevel3}
                </if>
            </where>
        </select>
    <select id="selectAppInfoById" resultType="com.t31.app.entity.devinfo.AppInfoList" parameterType="int">
        select
                T1.id,
                T1.softwareName,
                T1.supportROM,
                T1.interfaceLanguage,
                T1.APKName,
                T1.softwareSize,
                (SELECT valueName FROM data_dictionary WHERE typeCode = 'APP_FLATFORM' AND valueId=T1.flatformId) AS flatformName,
                (SELECT categoryName FROM app_category WHERE app_category.id=T1.categoryLevel1) AS categoryLevel1Name,
                (SELECT categoryName FROM app_category WHERE app_category.id=T1.categoryLevel2) AS categoryLevel2Name,
                (SELECT categoryName FROM app_category WHERE app_category.id=T1.categoryLevel3) AS categoryLevel3Name,
                (SELECT valueName FROM data_dictionary WHERE typeCode = 'APP_STATUS' AND valueId=T1.status) AS statusName,
                T1.downloads,
                (SELECT versionNo FROM app_version WHERE app_version.id=T1.versionId) AS versionNo,
                T1.appInfo,
                T1.logoPicPath
            from
              app_info AS T1
            WHERE
              T1.id=#{id}
    </select>
    
    <select id="selByAPKName" resultType="int" parameterType="string">
        SELECT COUNT(1) FROM  app_info where APKName=#{param1}
    </select>
    <insert id="addApp" parameterType="com.t31.app.entity.AppInfoDTO">
        INSERT INTO
          app_info
            (softwareName,APKName,supportROM,interfaceLanguage,softwareSize,
            devId,appInfo,status,flatformId,categoryLevel3,downloads,createdBy,
            creationDate,categoryLevel1,categoryLevel2,logoPicPath,versionId)
        VALUES
          (#{softwareName},
          #{APKName},
          #{supportROM},
          #{interfaceLanguage},
          #{softwareSize},
          #{devId},
          #{appInfo},
          #{status},
          #{flatformId},
          #{categoryLevel3},
          #{downloads},
          #{createdBy},
          NOW(),
          #{categoryLevel1},
          #{categoryLevel2},
          #{logoPicPath},
          #{versionId})
    </insert>

    <delete id="delApp" parameterType="int">
        DELETE FROM app_info where id=#{param1}

    </delete>
    <update id="updateAppInfo" parameterType="com.t31.app.entity.AppInfoDTO">
        UPDATE
          app_info
        <set>
            <if test="versionId>0">
                versionId=#{versionId},
            </if>
        </set>
        WHERE
            id=#{id}

    </update>
    
    <select id="selById" parameterType="int" resultType="int">
        SELECT COUNT(1) FROM app_info where id=#{param1}
    </select>
    
    <select id="selAppInfoById" resultType="com.t31.app.entity.devinfo.AppInfoList" parameterType="int">
        SELECT
          T1.id,
                T1.softwareName,
                T1.supportROM,
                T1.interfaceLanguage,
                T1.APKName,
                T1.softwareSize,
                (SELECT valueName FROM data_dictionary WHERE typeCode = 'APP_STATUS' AND valueId=T1.status) AS statusName,
                appInfo,
                flatformId,
                status,
                categoryLevel3,
                downloads,
                categoryLevel1,
                categoryLevel2,
                logoPicPath,
                logoLocPath
        FROM
          app_info T1
        where id=#{param1}

    </select>
    <update id="upLogoById" parameterType="int">
        UPDATE app_info SET logoPicPath=null where id=#{id}
    </update>
    
    <update id="upAppInfo" parameterType="com.t31.app.entity.AppInfoDTO">
        UPDATE
          app_info
        <set>
            <if test="softwareName!=null and softwareName!=''">
                softwareName=#{softwareName},
            </if>
            <if test="APKName!=null and APKName!=''">
                APKName=#{APKName},
            </if>
            <if test="supportROM!=null and supportROM!=''">
                supportROM=#{supportROM},
            </if>
            <if test="interfaceLanguage!=null and interfaceLanguage!=''">
                interfaceLanguage=#{interfaceLanguage},
            </if>
            <if test="`softwareSize`>0">
                softwareSize=#{softwareSize},
            </if>
            <if test="appInfo!=null and appInfo!=''">
                appInfo=#{appInfo},
            </if>
            <if test="`status`>1">
                status=#{status},
            </if>
            <if test="flatformId>0">
                flatformId=#{flatformId},
            </if>
            <if test="categoryLevel3>0">
                categoryLevel3=#{categoryLevel3},
            </if>
            <if test="categoryLevel2>0">
                categoryLevel2=#{categoryLevel2},
            </if>
            <if test="categoryLevel1>0">
                categoryLevel1=#{categoryLevel1},
            </if>
            <if test="downloads>0">
                downloads=#{downloads},
            </if>
            <if test="modifyBy>0">
                modifyBy=#{modifyBy},
            </if>
            <if test="modifyDate!=null">
                modifyDate=#{modifyDate},
            </if>
            <if test="logoPicPath!=null and logoPicPath!=''">
                logoPicPath=#{logoPicPath},
            </if>
            <if test="logoLocPath!=null and logoLocPath!=''">
                logoLocPath=#{logoLocPath},
            </if>
            <if test="versionId>0">
                versionId=#{versionId},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>